<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />

  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/note/" role="button" >Add note</a></li>
          <li><a href="/tag/" role="button">Add Tag</a></li>
          <li><a href="/contact/" role="button">Add Contact</a></li>
        </ul>
      </nav>

      <div style="float: left;width: 50%;">
        {% for note in notes%}
      <ul>
        <li>
          {%if not note.done%}
          <a href="/detail/{{note.id}}" role="button" class="outline"
            >{{note.name}}</a
          >
          <a href="/done/{{note.id}}" role="button">Mark Done</a>
          <a href="/delete/{{note.id}}" role="button" class="contrast"
            >Delete note</a
          >
          {% else %}

          <a href="/detail/{{note.id}}" role="button" class="secondary"
            ><s>{{note.name}}</s></a
          >
          {% endif %}
        </li>
      </ul>
      {% endfor %}
      </div>
<!--      contacts -->
      <div style="float: left;width: 50%;">
        {% for contact in contacts%}
      <ul>
        <li>
          <a href="/contact_detail/{{contact.id}}" role="button" class="outline"
            >{{contact.fullname}}</a
          >
          <a href="/edit_contact/{{contact.id}}" role="button">Edit</a>
          <a href="/delete_contact/{{contact.id}}" role="button" class="contrast"
            >Delete</a
          >
        </li>
      </ul>
        {% endfor %}
      </div>


    </main>
  </body>
</html>